{% extends './moderating-page.html' %} {% load static %} 
{% block moderationCssFiles %}
<link rel="stylesheet" href="{% static 'servers/css/insights.css' %}" />
{% endblock moderationCssFiles %} 
{% block moderationJsFiles %}
<script src="{% static 'servers/js/insights.js' %}"></script>
{% endblock moderationJsFiles %} 

{% block form_popup %}
  <div class='form-popup' id='ban-user'>
    <form action="" method="post" id='create-server-tab'>
      {% csrf_token %}
      <div class='form-title'>
        <div class="form-title-btns close-btn" onclick="createServerTabFunc('ban-user')">
          <img src="{% static 'svgs/x.svg' %}" alt="close tab">
        </div>
        <h2>محدود سازی کاربر</h2>
      </div>
      <section class='form-body'>
        <div class="title">
          <p>مدت زمان محدودیت</p>
          <p>مدت زمانی که میخواهید کاربر از دسترسی به سرور منع شود را انتخاب کنید</p>
        </div>
        <div class="input">

          <!-- hidden inputs --> 
          <div style='display:none'>
            {{limit_user.duration}}
            {{limit_user.user}}
          </div>
          <div class="range-slider">
            <div id="range-slider-btn"></div>
            <div class="range-slider-section">
              <div class="range-slider-section-line"></div>
              <div class="range-slider-section-indicator">
                <div></div>
                <p>1</p>
              </div>
            </div>
            <div class="range-slider-section">
              <div class="range-slider-section-line"></div>
              <div class="range-slider-section-indicator">
                <div></div>
                <p>2</p>
              </div>
            </div>
            <div class="range-slider-section">
              <div class="range-slider-section-line"></div>
              <div class="range-slider-section-indicator">
                <div></div>
                <p>7</p>
              </div>
            </div>
            <div class="range-slider-section">
              <div class="range-slider-section-line"></div>
              <div class="range-slider-section-indicator">
                <div></div>
                <p>14</p>
              </div>
            </div>
            <div class="range-slider-section">
              <div class="range-slider-section-line"></div>
              <div class="range-slider-section-indicator">
                <div></div>
                <p>30</p>
              </div>
            </div>
            <div class="range-slider-section">
              <div class="range-slider-section-indicator">
                <div></div>
                <p><img src="{% static 'servers/svgs/ban.svg' %}" alt=""></p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class='form-body'>
        <div class="title">
          <p>توضیحات تکمیلی</p>
          <p>در رابطه با دلیل این محدودیت توضیح دهید</p>
        </div>
        <div class="input">
          {{limit_user.info}}
        </div>
      </section>
      <button id='form_popup_btn' type='submit'>ثبت محدودیت</button>
    </form>
  </div>
{% endblock form_popup %}

{% block moderatingPage %}
<section id="moderator-display">
  <div class="wrapper" id="chart-wrapper">
    <div class="form-title">
      <h2>نمودار تغییرات</h2>
    </div>
    <div id="server-chart">
      <canvas id="moderating-chart"></canvas>
    </div>
    <button onclick="updateChart(0)" id="go-back">سالانه‌</button>
    <button onclick="updateChart(1)" id="go-forward">ماهانه</button>
    <button onclick="updateChart(2)" id="go-forward">روزانه</button>
  </div>
  <div class="numbers-wrapper">
    <!--daily follow counter-->
    <div class="wrapper">
      <div
        class="form-title form-title-no-border"
        style="flex-direction: column"
      >
        <h2>دنبال کنندگان امروز</h2>
        <p>نسبت به روز قبل</p>
      </div>
      {% if daily_follow_count_icon == 'higher' %}
      <div class="today-count">
        <p style="color: #00cf08">{{server_numbers.1}}</p>
        <img
          src="{% static 'servers/svgs/higher.svg' %}"
          alt="higher than last day"
        />
      </div>
      {% elif daily_follow_count_icon == 'lower' %}
      <div class="today-count">
        <p style="color: #ff0909">{{server_numbers.1}}</p>
        <img
          src="{% static 'servers/svgs/lower.svg' %}"
          alt="lower than last day"
        />
      </div>
      {% else %}
      <div class="today-count">
        <p style="color: #ebb700">{{server_numbers.1}}</p>
        <img
          src="{% static 'servers/svgs/same.svg' %}"
          alt="same as last day"
        />
      </div>
      {% endif %}
    </div>

    <!--daily post counter-->
    <div class="wrapper">
      <div
        class="form-title form-title-no-border"
        style="flex-direction: column"
      >
        <h2>پست های امروز</h2>
        <p>نسبت به روز قبل</p>
      </div>
      {% if daily_post_count_icon == 'higher' %}
      <div class="today-count">
        <p style="color: #00cf08">{{server_numbers.0}}</p>
        <img
          src="{% static 'servers/svgs/higher.svg' %}"
          alt="higher than last day"
        />
      </div>
      {% elif daily_post_count_icon == 'lower' %}
      <div class="today-count">
        <p style="color: #ff0909">{{server_numbers.0}}</p>
        <img
          src="{% static 'servers/svgs/lower.svg' %}"
          alt="lower than last day"
        />
      </div>
      {% else %}
      <div class="today-count">
        <p style="color: #ebb700">{{server_numbers.0}}</p>
        <img
          src="{% static 'servers/svgs/same.svg' %}"
          alt="same as last day"
        />
      </div>
      {% endif %}
    </div>
  </div>
  <div class="wrapper l-wrapper reports-wrapper">
    <div class="form-title">
      <h2>گزارشات خطا</h2>
    </div>
    <section id="list">
      {% for report in server_reports %}
      <div class="list-item" onclick="changeReportedUser({{report.post.creator.id}})" id='{{report.id}}'>
        <div class="list-item-title-wrapper">
          <div class="list-item-title">
            <a
              class="delete-report-btn"
              href="{% url 'servers:server-delete-report' report.server.tag report.id %}"
              id = "{{ forloop.counter0 }}"
            >
              <img
                src="{% static 'servers/svgs/shield-alert.svg' %}"
                alt="report icon"
                id = "{{ forloop.counter0 }}"
              />
              <img
                src="{% static 'svgs/x.svg' %}"
                alt="delete report"
                id = "{{ forloop.counter0 }}"
              />
            </a>
            <p class="report-text">
              پست
              <a
                href="{% url 'posts:post-page' report.post.id %}"
                class="report-info"
                >{{report.post.title|truncatewords:8}}</a
              >
              توسط
              <a class="reporter" href="{% url 'user:profile' report.user %}"
                >u/{{report.user}}</a
              >
              به دلیل
              <span class="report-info">{{report.get_reason_display}}</span>
              گزارش شده.
            </p>
          </div>
          <div class="list-item-options">
            <img src="{% static 'servers/svgs/hammer.svg' %}" alt="ban user" onclick="createServerTabFunc('ban-user',{{report.post.id}})">
          </div>
        </div>
      </div>
      {% endfor %}
    </section>
  </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

<script>
    const ctx = document.getElementById('moderating-chart');
    var postCountList = [];
    var postDateList = [];
    var serverFollowCountList = [];
    var serverFollowDateList = [];
    {{post_daily_count|safe}}.forEach((i) => {
      postCountList.push(i.dailycount)
      postDateList.push(i.date)
    });
    {{server_follow_daily_count|safe}}.forEach((i) => {
      serverFollowCountList.push(i.dailycount)
      serverFollowDateList.push(i.date)
    });

  chart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: postDateList,
      datasets: [{ label: 'تعداد پست', data: postCountList, borderColor: '#FF3F18', backgroundColor: '#FF3F18', tension: 0.4}, {label: 'تعداد دنبال کننده',  data: serverFollowCountList,  parsing: {yAxisKey: 'cogs'}, borderColor: '#3B3B3B', backgroundColor: '#3B3B3B', tension: 0.4}]
    },
    options: {
      responsive: true,
      plugins: {
              legend: {
                display:false,
                  labels: {
                    usePointStyle:true,
                    pointStyleWidth:20,
                      font: {
                          family: 'sans-serif',
                          size: 14
                      }
                  }
              }
          },
          scales: {
              y: {
                  beginAtZero : true,
                  grace: 10
                },
              x: {
                  max: '{{tomorrow|date:'Y-m-d'|safe}}',
                  min: '',
                  type: 'time',
                  time: {
                      unit: 'day'
                  }
              }
          }
      }

  });
  currentDate = '{{tomorrow|date:'Y-m-d'|safe}}'
  fromFirst = '{{server.created|date:'Y-m-d'|safe}}'
  const goForward= document.getElementById('go-forward');
  const goBack= document.getElementById('go-back');
  var maxDay = chart.options.scales.x.max[8] + chart.options.scales.x.max[9]
  var maxMonth = parseInt(chart.options.scales.x.max[5] + chart.options.scales.x.max[6])
  var maxYear = chart.options.scales.x.max[2] + chart.options.scales.x.max[3]

  var currentDay = currentDate[8] + currentDate[9]
  var currentMonth = parseInt(currentDate[5] + currentDate[6])
  var currentYear = currentDate[2] + currentDate[3]

  var fromFirstDay = fromFirst[8] + fromFirst[9]
  var fromFirstMonth = parseInt(fromFirst[5] + fromFirst[6])
  var fromFirstYear = fromFirst[2] + fromFirst[3]
  console.log(maxYear, maxMonth -1, maxDay)
  console.log(currentYear, currentMonth -1, currentDay)
  const updateChart =(btn, type)=>{
    if(btn == 0){
      chart.options.scales.x.time.unit = 'year'
    }else if(btn == 1){
      chart.options.scales.x.time.unit = 'month'
    }else{
      chart.options.scales.x.time.unit = 'day'
    }
    chart.update()
  }
</script>
{% endblock moderatingPage %}
