{% extends 'base.html' %} {% load static %}
{% block cssFiles %}
  <link rel="stylesheet" href="{% static 'servers/css/moderating-page.css' %}">
  <link rel="stylesheet" href="{% static 'servers/css/rules.css' %}">
{% endblock cssFiles %}
{% block jsFiles %}
  <script src="{% static 'servers/js/rules.js' %}"></script>
{% endblock jsFiles %}

{% block form_popup %}
  <div class='form-popup' id='create-rule'>
    <form action="" method="post" id='create-server-tab'>
      {% csrf_token %}
      <div class='form-title'>
        <div class="form-title-btns close-btn" onclick="createServerTabFunc('create-rule')">
          <img src="{% static 'svgs/x.svg' %}" alt="close tab">
        </div>
        <h2>ایجاد قانون</h2>
      </div>
      <section class='form-body'>
        <div class="title">
          <p>قانون</p>
          <p>کلیت قانون را خلاصه وار بنویسید</p>
        </div>
        <div class="input">
          {{create_rule_form.title}}
        </div>
      </section>
      <section class='form-body'>
        <div class="title">
          <p>توضیحات تکمیلی</p>
            <p>شرایطی که موجب نقض قانون میشود را ذکر کنید</p>
        </div>
        <div class="input">
          {{create_rule_form.body}}
        </div>
      </section>
      <button id='form_popup_btn' type='submit'>ایجاد تگ</button>
    </form>
  </div>
{% comment %} 
  <div class='form-popup' id='delete-rule-tab'>
    <section id='create-server-tab'>
      <div class='form-title'>
        <h2>آیا از حذف این قانون مطمعن هستید؟</h2>
      </div>
      <div id='yes-no-btn'>
        <a href="{% url 'servers:server-rules-delete' rule.server.tag rule.id %}" id='form_popup_btn'>بله مطمعنم</a>
        <button onclick="createServerTabFunc('delete-rule-tab')" id='form_popup_btn'>خیر</button>
      </div>
    </section>
  </div> {% endcomment %}
{% endblock form_popup %}

{% block content %}
<div id="moderation-page-wrapper">
  <section id="moderator-display">
      <div class="wrapper l-wrapper">
        <div class="form-title">
          <h2>قوانین سرور</h2>
          <div class="form-title-btns">
            <div onclick="createServerTabFunc('create-rule')" class="square-btn">
              <img src="{% static 'servers/svgs/plus.svg' %}" alt="add flair">
            </div>
          </div>
        </div>
        <section id='list'>
          {% for rule in server_rules %}
          <div class="rule">
            <div class="rule-title-wrapper">
              <div class="rule-title">
                {{ forloop.counter }}
                <p>{{rule.title}}</p>
              </div>
              <div class="rule-options">
                <a href="{% url 'servers:server-rules-delete' rule.server.tag rule.id %}">
                  <img src="{% static 'servers/svgs/trash.svg' %}" alt="delete rule">
                </a>
                {% comment %} <button onclick="createServerTabFunc('delete-rule-tab')">
                  <img src="{% static 'servers/svgs/trash.svg' %}" alt="delete rule">
                </button> {% endcomment %}
                <button class='edit-rule-btn'>
                  <img src="{% static 'posts/svgs/edit.svg' %}" alt="edit rule">
                </button>
                <button onclick='openRuleDetails({{ forloop.counter0 }})' class='rule-detail-btn'>
                  <img src="{% static 'svgs/maximize.svg' %}" alt="rule detail">
                </button>
              </div>
            </div>
            <div class="rule-body">
              {{rule.body}}
            </div>
          </div>
          {% endfor %}
        </section>
      </div>
  </section>
  {% include 'servers/inc/moderator-control-bar.html' %}
</div>
{% endblock content %}
