{% extends 'base.html' %} {% load static %} 
{% block cssFiles %}
  <link rel="stylesheet" href="{% static 'servers/css/server.css' %}" />
{% endblock cssFiles %}

{% block content %}
<div class="server-header">
  <img src="{{server.header_image.url}}" alt="server header image" />
</div>
<div class="server-header-bar">
  <div class="container">
    <div class="server-specifications">
      <div class="server-name">
        <div>
          {% if request.user.is_authenticated %}
            <div class="join-server-btn">
            {% if is_following %}
                <a href="{% url 'servers:server-follow' server.tag %}">خروج</a>
            {% elif is_limited %}
                <div id="creation-time" style="display:none">{{is_limited.get.created|date:"Y/m/d H:i:s"|safe}}</div>
                <div id="limit-duration" style="display:none">{{is_limited.get.duration|safe}}</div>
                <img src="{% static 'servers/svgs/clock.svg' %}" alt="clock">
                <div id="limitTimer" href="{% url 'servers:server-follow' server.tag %}"></div>
            {% else %}
                <a href="{% url 'servers:server-follow' server.tag %}">عضویت</a>
            {% endif %}
            </div>
          {% endif %}
          <h2>{{server.name}}</h2>
        </div>
        <p>r/{{server.tag}}</p>
      </div>
      <div class="server-main-img">
        <img src="{{server.image.url}}" alt="server image" />
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="server-details-wrapper col-4">
      <div class="server-details">
        <div class="server-details-header d-none">
          <img
            class="server-header-img"
            src="{{post.server.header_image.url}}"
            alt="server header image"
          />
          <img
            class="server-img"
            src="{{post.server.image.url}}"
            alt="server header image"
          />
          <div class="server-tag">r/{{post.server.tag}}</div>
        </div>
        <div class="side-bar">
          <section>
            <h3>درباره این سرور</h3>
            <p>{{server.about}}</p>
          </section>
          <div class="server-numbers-wrapper">
            <div class="server-numbers">
              <div class="followers">
                <p>{{server.followers.count}}</p>
                <p>دنبال کننده</p>
              </div>
              <div class="online_users">
                <p>0</p>
                <p>آنلاین</p>
              </div>
            </div>
            <div class="server-score">
              <h2>#۸۷</h2>
            </div>
          </div>
          <section>
            <span>
              <h3>ساخته شده در تاریخ</h3>
            </span>
            <p>{{server.created}}</p>
          </section>
          <section>
            <span>
              <h3>تگ کاربر</h3>
            </span>
              {% if request.user.is_authenticated and current_user_tag %}
                <div class="tag-list">
                  <div class="tag user-tag" style='background:{{current_user_tag.primary_color}}; color:{{current_user_tag.secondary_color}}; border: 3px solid {{current_user_tag.secondary_color}}'>
                    <p>{{current_user_tag.name}}</p>
                  </div>
                </div>
              {% endif %}
              <div class="user-tag">
                <img src="{% static 'servers/svgs/user-tag-edit.svg' %}" alt="">
              </div>
              <section class='tag-list'>
                {% for tag in user_tags  %}
                  <div class="tag user-tag" style='background:{{tag.primary_color}}; color:{{tag.secondary_color}}; border: 3px solid {{tag.secondary_color}}'>
                    <p>{{tag.name}}</p>
                  </div>
                {% endfor %}
              </section>
          </section>
        </div>
        {% if post_tags %}
        <div class='side-bar'>
          <section>
            <h3>تگ های سرور</h3>
            <div class="tag-list">
              {% for tag in post_tags %}
                <div class="tag post-tag" style='background:{{tag.primary_color}};color:{{tag.secondary_color}};border:3px solid {{tag.secondary_color}}'>
                  {{tag.name}}
                </div>
              {% endfor %}
            </div>
          </section>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="popular-posts col-8">
      <div id="filters-bar">
        <div class="show-options">
          <img
            src="{% static 'home/svgs/slides.svg' %}"
            alt="show posts in slides"
          />
          <img
            src="{% static 'home/svgs/windows.svg' %}"
            alt="show posts in windows"
          />
        </div>
        <div class="post-filters">
          <a class="post-filters-buttons">برترین های</a>
          <a href='{% url "home:new_posts" %}' class="post-filters-buttons"
            >جدید</a
          >
          <a class="post-filters-buttons">داغ</a>
        </div>
      </div>
      <div id="posts-wrapper">
        {% for post in posts %} {% include 'posts/inc/post.html' %} {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
