{% extends './moderating-page.html' %} {% load static %}
{% block moderationCssFiles %}
  <link rel="stylesheet" href="{% static 'servers/css/tags-flairs.css' %}">
{% endblock moderationCssFiles %}
{% block moderationJsFiles %}
  <script src="{% static 'servers/js/tags-flairs.js' %}"></script>
{% endblock moderationJsFiles %}

<!--user and post creation form popups--> 
{% block form_popup %}
  <div class='form-popup' id='create-post-tag'>
    <form action="" method="post" id='create-post-tag-form' class='create-tag-form'>
      {% csrf_token %}
      <div class='form-title'>
        <div class="form-title-btns close-btn" onclick="createServerTabFunc('create-post-tag')">
          <img src="{% static 'svgs/x.svg' %}" alt="close tab">
        </div>
        <h2>ایجاد تگ پست</h2>
      </div>
        <div class='tag live-tag-overview'>تگ پست</div>
      <section class='form-body'>
        <div class="title">
          <p>نام تگ</p>
          <span>
            <p>کوتاه و مختصر بودن تگ به راحتی جستوجو آن کمک میکند</p>
            <img src="{% static 'svgs/info.svg' %}" alt="info icon">
          </span>
        </div>
        <div class="input">
          {{create_post_tag_form.name}}
          <span class='d-none'>
            {{create_post_tag_form.primary_color}}
            {{create_post_tag_form.secondary_color}}
          </span>
        </div>
      </section>
      <section class='form-body'>
        <div class="title">
          <p>رنگ تگ</p>
        </div>
        <div class="input tag-color-options">
          <div class="tag-color-option" style='background:#FFD80C; border:4px solid #4E1705'></div>
          <div class="tag-color-option" style='background:#00DBC1; border:4px solid #047C6E'></div>
          <div class="tag-color-option" style='background:#4BFF2E; border:4px solid #013A04'></div>
          <div class="tag-color-option" style='background:#A50277; border:4px solid #FFB8EB'></div>
          <div onclick='pickColorTab(0)' class="pick-tag-color-btn" style='background:#323232; border:4px solid #D0D0D0'>
            <img src="{% static 'servers/svgs/gray-plus.svg' %}" alt="choose tag color">
          </div>
        </div>
        <div class="pick-tag-color">
          <section>
            <label for="primary-color">رنگ فرعی</label>
            <input type="color" name="secondary-color" value="#4E1705">
          </section>
          <section>
            <label for="primary-color">رنگ اصلی</label>
            <input type="color" name="primary-color" value="#FFD80C">
          </section>
        </div>
      </section>
      <button onclick="submitForm('create-post-tag-form')" id='form_popup_btn' type='button'>ایجاد تگ</button>
    </form>
  </div>

  <div class='form-popup' id='create-user-tag'>
    <form action="" method="post" id='create-user-tag-form' class='create-tag-form'>
      {% csrf_token %}
      <div class='form-title'>
        <div class="form-title-btns close-btn" onclick="createServerTabFunc('create-user-tag')">
          <img src="{% static 'svgs/x.svg' %}" alt="close tab">
        </div>
        <h2>ایجاد تگ کاربر</h2>
      </div>
        <div class='tag live-tag-overview live-user-tag-overview'>تگ کاربر</div>
      <section class='form-body'>
        <div class="title">
          <p>نام تگ</p>
          <span>
            <p>کوتاه و مختصر بودن تگ به راحتی جستوجو آن کمک میکند</p>
            <img src="{% static 'svgs/info.svg' %}" alt="info icon">
          </span>
        </div>
        <div class="input">
          {{create_user_tag_form.name}}
          <span class='d-none'>
            {{create_user_tag_form.primary_color}}
            {{create_user_tag_form.secondary_color}}
          </span>
        </div>
      </section>
      <section class='form-body'>
        <div class="title">
          <p>رنگ تگ</p>
        </div>
        <div class="input tag-color-options">
          <div class="tag-color-option" style='background:#FFD80C; border:4px solid #4E1705'>
            <img style='filter: invert(14%) sepia(19%) saturate(3238%) hue-rotate(338deg) brightness(100%) contrast(108%);' src="{% static 'servers/svgs/check.svg' %}" alt="choose tag color">
          </div>
          <div class="tag-color-option" style='background:#00DBC1; border:4px solid #0B4A43'>
            <img style='filter: invert(19%) sepia(91%) saturate(413%) hue-rotate(124deg) brightness(94%) contrast(93%);' src="{% static 'servers/svgs/check.svg' %}" alt="choose tag color">
          </div>
          <div class="tag-color-option" style='background:#4BFF2E; border:4px solid #013A04'>
            <img style='filter: invert(10%) sepia(52%) saturate(3878%) hue-rotate(121deg) brightness(96%) contrast(99%);' src="{% static 'servers/svgs/check.svg' %}" alt="choose tag color">
          </div>
          <div class="tag-color-option" style='background:#A50277; border:4px solid #FFB8EB'>
            <img style='filter: invert(87%) sepia(16%) saturate(1251%) hue-rotate(280deg) brightness(99%) contrast(105%);' src="{% static 'servers/svgs/check.svg' %}" alt="choose tag color">
          </div>
          <div onclick='pickColorTab(1)' class="pick-tag-color-btn" style='background:#323232; border:4px solid #D0D0D0'>
            <img src="{% static 'servers/svgs/gray-plus.svg' %}" alt="choose tag color">
          </div>
        </div>
        <div class="pick-tag-color">
          <section>
            <label for="primary-color">رنگ فرعی</label>
            <input type="color" name="secondary-color" value="#4E1705">
          </section>
          <section>
            <label for="primary-color">رنگ اصلی</label>
            <input type="color" name="primary-color" value="#FFD80C">
          </section>
        </div>
      </section>
      <button onclick="submitForm('create-user-tag-form')" id='form_popup_btn' type='button'>ایجاد تگ</button>
    </form>
  </div>
{% endblock form_popup %}

{% block moderatingPage %}
  <section id="moderator-display"> 
      <div class="wrapper flairs-wrapper">
        <div class="form-title">
          <h2>تگ پست ها</h2>
          <div class="form-title-btns">
            <div onclick="createServerTabFunc('create-post-tag')" class="square-btn">
              <img src="{% static 'servers/svgs/plus.svg' %}" alt="crate post tag">
            </div>
            <div onclick="deleteTag('post-tag-wrapper','post-tag-delete-btn')" class="square-btn">
              <img class='trash-icon' src="{% static 'servers/svgs/trash.svg' %}" alt="delete post tag">
            </div>
          </div>
        </div>
        <section class='list'>
          {% for tag in server_post_tags  %}
              <div class="post-tag-wrapper delete-effect">
                <div class="tag post-tag" style='background:{{tag.primary_color}}; border:3px solid {{tag.secondary_color}}; color:{{tag.secondary_color}}'>
                  {{tag.name}}
                </div>
                <a href='{% url 'servers:server-tag-delete' tag.server.tag tag.id  %}' class='post-tag-delete-btn'>
                  <img class='trash-icon' src="{% static 'servers/svgs/trash.svg' %}" alt="delete post tag">
                </a>
              </div>
          {% endfor %}
        </section>
      </div>
      <div class="wrapper tags-wrapper">
        <div class="form-title">
          <h2>تگ کاربران</h2>
          <div class="form-title-btns">
            <div onclick="createServerTabFunc('create-user-tag')" class="square-btn">
              <img src="{% static 'servers/svgs/plus.svg' %}" alt="craete user tag">
            </div>
            <div onclick="deleteTag('user-tag-wrapper','user-tag-delete-btn')" class="square-btn">
              <img class='trash-icon' src="{% static 'servers/svgs/trash.svg' %}" alt="delete user tag">
            </div>
          </div>
        </div>
        <section class='list'>
          {% for tag in server_user_tags  %}
            <div class="user-tag-wrapper delete-effect">
              <div class="tag user-tag" style='background:{{tag.primary_color}}; border:3px solid {{tag.secondary_color}}; color:{{tag.secondary_color}}'>
                {{tag.name}}
              </div>
              <a style='border-radius:0.5rem' href='{% url 'servers:server-tag-delete' tag.server.tag tag.id %}' class='user-tag-delete-btn'>
                <img class='trash-icon' src="{% static 'servers/svgs/trash.svg' %}" alt="delete post tag">
              </a>
            </div>
          {% endfor %}
        </section>
      </div>
  </section>
{% endblock moderatingPage %}
