{% extends 'base.html' %} {% load static %} 
{% block title %}Home{% endblock title %} {% block jsFiles %}
<script src="{% static 'home/js/home.js' %}"></script>
{% endblock jsFiles %}
<!---->
{% load static %} {% block cssFiles %}
<link rel="stylesheet" href="{% static 'posts/inc/css/post.css' %}" />
<link rel="stylesheet" href="{% static 'home/css/home.css' %}" />
{% endblock cssFiles %} {% block content %}

<div class="container">
  <div class="row">
    <div class="popular-posts col-8">
      <div id="filters-bar">
        <div class="show-options">
          <img
            src="{% static 'home/svgs/slides.svg' %}"
            alt="show posts in slides"
          />
          <img
            src="{% static 'home/svgs/windows.svg' %}"
            alt="show posts in windows"
          />
        </div>
        <div class="post-filters">
          <a class="post-filters-buttons">برترین های</a>
          <a href="{% url 'home:new_posts' %}" class="post-filters-buttons"
            >جدید</a
          >
          <a class="post-filters-buttons">داغ</a>
        </div>
      </div>
      <div id="posts-wrapper">
        {% for post in posts %}
        <div class="post">
          <div class="post-header">
            
            <!--save post form--> 
            <form action="{% url 'posts:vote-post' %}" method="post" class='vote-post-form' id='{{post.id}}'>
              {% csrf_token %}
              <div class="vote-wrapper">
                {% if request.user in post.upvotes.all %}
                  <button class='vote-btn' type="submit" name='upvote'>
                    <img
                      src="{% static 'svgs/up-voted.svg' %}"
                      alt="upvote"
                    />
                  </button>
                  <p id="vote-counter-{{post.id}}">{{post.votes_count}}</p>
                  <button class='vote-btn' type="submit" name='downvote'>
                    <img
                      style='transform:rotate(180deg)'
                      src="{% static 'svgs/vote.svg' %}"
                      alt="downvote"
                    />
                  </button>
                {% elif request.user in post.downvotes.all %}
                  <button class='vote-btn' type="submit" name='upvote'>
                    <img
                      src="{% static 'svgs/vote.svg' %}"
                      alt="upvote"
                    />
                  </button>
                  <p id="vote-counter-{{post.id}}">{{post.votes_count}}</p>
                  <button class='vote-btn' type="submit" name='downvote'>
                    <img
                      style='transform:rotate(180deg)'
                      src="{% static 'svgs/down-voted.svg' %}"
                      alt="downvote"
                    />
                  </button>
                {% else %}
                  <button class='vote-btn' type="submit" name='upvote'>
                    <img
                      src="{% static 'svgs/vote.svg' %}"
                      alt="upvote"
                    />
                  </button>
                  <p id="vote-counter-{{post.id}}">{{post.votes_count}}</p>
                  <button class='vote-btn' type="submit" name='downvote'>
                    <img
                      style='transform:rotate(180deg)'
                      src="{% static 'svgs/vote.svg' %}"
                      alt="downvote"
                    />
                  </button>
                {% endif %}
              </div>
            </form>
            {% comment %} <div class="vote">
              <a href="{% url 'posts:upvote' post.id %}"
                ><img
                  class="upvote"
                  src="{% static 'svgs/up-vote.svg' %}"
                  alt=""
              /></a>
              <p class="vots-counter">{{post.votes_count}}</p>
              <a href="{% url 'posts:downvote' post.id %}"
                ><img
                  class="upvote"
                  src="{% static 'svgs/down-vote.svg' %}"
                  alt=""
              /></a>
            </div> {% endcomment %}

            <div class="server-info">
              <div class="post-info">
                <section>
                  <a class="creator-name" href="{{post.get_profile_page}}"
                    >u/{{post.creator}} پست شده توسط
                  </a>
                  <a
                    class="server-name"
                    href="{% url 'servers:server' post.server.tag %}"
                    >r/{{post.server.tag}}</a
                  >
                </section>
                <section>
                  {% if post.tag %}
                  <span
                    class="tag post-tag"
                    style="background:{{post.tag.primary_color}}; color:{{post.tag.secondary_color}};border:3px solid {{post.tag.secondary_color}}"
                    >{{post.tag.name}}</span
                  >
                  {% endif %}
                  <a href="{{post.get_absolute_url}}"
                    ><h3 class="post-title">{{post.title}}</h3></a
                  >
                </section>
              </div>
              <div class="server-img">
                <img src="{{post.server.image.url}}" alt="server image" />
              </div>
            </div>
          </div>
          <div class="post-body">
            {% if post.image %}
            <img src="{{post.image.url}}" alt="" />
            {% elif post.video %}
            <video controls>
              <source src="{{post.video.url}}" type="video/mp4" />
            </video>
            {% elif post.text %}
            <p>{{post.text}}</p>
            {% endif %}
          </div>
          <div class="post-footer">
            <div class="post-items">
              <a href="{% url 'posts:post-page' post.id %}"
                ><img
                  class="comment-btn"
                  src="{% static 'posts/svgs/comment.svg' %}"
                  alt="comment button"
                />{{post.post_comments.count}}</a
              >
              <a href=""
                ><img
                  class="share-btn"
                  src="{% static 'posts/svgs/share.svg' %}"
                  alt="share button"
              /></a>
              {% comment %} {% if is_saved %}
              <a href="{% url 'posts:save-post' post.id %}"
                ><img
                  class="save-btn"
                  src="{% static 'posts/svgs/saved.svg' %}"
                  alt="save post button"
              /></a>
              {% else %}
              <a href="{% url 'posts:save-post' post.id %}"
                ><img
                  class="save-btn"
                  src="{% static 'posts/svgs/save.svg' %}"
                  alt="save post button"
              /></a>
              
              {% endif %} {% endcomment %}
              <form action="{% url 'posts:save-post' %}" method="post" class='save-post-form' id='{{post.id}}'>
                {% csrf_token %}
                <input type="hidden" name="{{post.id}}">
                <button type='submit' id='save-post-btn-{{post.id}}'>
                  {% if request.user not in post.saved.all %}
                  <img
                  id="save-post-btn-img-{{post.id}}"
                  src="{% static 'posts/svgs/save.svg' %}"
                  alt="save post button"
                  />
                  {% else %}
                  <img
                  id="save-post-btn-img-{{post.id}}"
                  src="{% static 'posts/svgs/saved.svg' %}"
                  alt="save post button"
                  />
                  {% endif %}
                </button>
              </form>
            </div>
            <div class="post-options">
              {% if request.user.id == post.creator.id %}
              <a href="{% url 'posts:delete-post' post.id %}"
                ><img src="{% static 'posts/svgs/trash.svg' %}" alt=""
              /></a>
              <div id="join-btn">
                <a href="{% url 'posts:update-post' post.id %}">ویرایش</a>
              </div>
              {% endif %}

              <div id="join-btn"><a href="">عضویت</a></div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div id="popular-servers">
      {% comment %} {% for server in servers %} {{server.name}} <br />
      {% endfor %} {% endcomment %}
    </div>
  </div>
</div>

{% endblock content %}
