/* colors */
:root {
    --orange: #FF3F18;
    --light-orange: #FF5C0012;
    --light-gray: #B6B6B6;
    --light-gray-2: #F3F3F3;
    --light-gray-3: #F9F9F9;
    --gray: #3B3B3B;
    --dark-gray: #1e1e20;
    --dark-gray-2: #525252;
    /* padding/margin */
    --p14: 0.875rem;
    --p30: 1.875rem;
}

/* ~~~~Global Selectors~~~~  */

/* popup form  */
.form-popup {
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    background: rgba(43, 43, 43, 0.676);
    z-index: 1;
    opacity: 0;
    transition: 0.25s ease-in-out;
}

#form_popup_btn {
    bottom: 0;
    background: var(--orange);
    color: #FFFF;
    width: 100%;
    border-radius: 0.5rem;
    margin-top: var(--p30);
    height: 2.75rem;
    font-size: 1rem;
}

#create-server-tab,
.create-tag-form {
    background: #ffff;
    width: 442px;
    border-radius: 0.5rem;
    padding: var(--p14);
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.form-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: var(--p14);
    border-bottom: 1px solid #b6b6b64f;
    margin-bottom: var(--p30);
}

.form-title>img {
    cursor: pointer;
}

.form-title>h2 {
    font-size: 1.25rem;
}

.form-title-btns {
    display: flex;
    gap: 0.5rem;
}

.form-title-btns>* {
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.form-title-btns>*:hover {
    background: var(--orange);
}

.form-title-btns>*:active {
    transform: scale(0.9);
}

.close-btn>*:hover {
    background: none;
}

.form-body>.title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: var(--p30);
    gap: 0.3125rem;
}

.form-body>.title>p:nth-child(1) {
    font-weight: 700;
}

.form-body>.title>p:nth-child(2),
.form-body>.title>p:nth-child(2),
.form-body>.title>span {
    display: flex;
    color: #646464;
    font-size: 0.75rem;
    font-weight: 400;
}

.form-body>.title>span>img {
    margin-left: 0.3rem;
}

.input>input,
.input>textarea {
    position: relative;
    background: #F9F9F9;
    /* margin-top: var(--p14); */
    padding: var(--p14);
    border: 1px solid rgba(0, 0, 0, 0.09);
    transition: 0.15s ease-in-out;
    outline: none;
    height: 2.5rem;
    border-radius: 0.5rem;
    width: 100%;
}

.create-server-type>.input,
.form-body>.input {
    direction: rtl;
    margin-top: var(--p14);
}

/* fonts  */
@font-face {
    font-family: V;
    src: url(../fonts/Vazir.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Vthin;
    src: url(../fonts/Vazir-Thin.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Vlight;
    src: url(../fonts/Vazir-Light.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Vmedium;
    src: url(../fonts/Vazir-Medium.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Vbold;
    src: url(../fonts/Vazir-Bold.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: nastaliq;
    src: url(../fonts/IranNastaliq.ttf);
    font-weight: normal;
    font-style: normal;
}

/* remove default */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

input,
textarea {
    font-family: Vbold;
}

input[type=text]:hover,
textarea:hover {
    border: 1px solid #00000031 !important;
}

input[type=text]:focus,
textarea:focus {
    border: 2px solid var(--orange) !important;
}

.not-input:focus,
.not-input:hover {
    border: none !important;
}

a:active {
    color: black;
}

button {
    border: none;
    cursor: pointer;
}

body,
button {
    background: var(--light-gray-2);
    font-family: Vmedium;
}


/* side bars */

.side-bar {
    background: #FFFF;
    padding: var(--p14);
    border-radius: 0.5rem;
    box-shadow: 0px 8px 8px 3px rgba(0, 0, 0, 0.04);
}

.side-bar h3 {
    margin-bottom: var(--p14);
    color: var(--dark-gray);
}

.side-bar>section>p {
    color: var(--gray);
}

.side-bar>section {
    display: flex;
    flex-direction: column;
    direction: rtl;
}

.side-bar>section:not(:first-of-type) {
    margin-top: var(--p30);
}

/* user tags and post tags  */

.tag {
    display: inline;
    padding: 0.1rem var(--p14);
    font-size: 0.75rem;
    font-weight: 600;
    transition: 0.25s ease-in-out;
}

/* .tag:hover {
    transform: scale(1.05);
} */

.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.post-tag {
    border-radius: 20rem;
}

.user-tag {
    border-radius: 0.5rem;
}