/* colors */
:root {
    --orange: #FF3F18;
    --light-orange: #FF5C0012;
    --light-gray: #B6B6B6;
    --light-gray-2: #F3F3F3;
    --light-gray-3: #F9F9F9;
    --gray: #3B3B3B;
    --dark-gray: #1e1e20;
    --dark-gray-2: #525252;
    /* padding/margin */
    --p14: 0.875rem;
    --p30: 1.875rem;
    /* transitions  */
    --normal: 0.25s ease-in-out;
}

/* loader  */
.loader {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid var(--orange);
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* ~~~~Global Selectors~~~~  */

/* popup form  */
.form-popup {
    position: fixed;
    display: none;
    width: 100%;
    height: 100vh;
    background: rgba(43, 43, 43, 0.676);
    z-index: 1;
    opacity: 0;
    transition: 0.25s ease-in-out;
}

#form_popup_btn {
    bottom: 0;
    background: var(--orange);
    color: #FFFF;
    width: 100%;
    border-radius: 0.5rem;
    margin-top: var(--p30);
    height: 2.75rem;
    font-size: 1rem;
}

#create-server-tab,
.create-tag-form {
    background: #ffff;
    width: 442px;
    border-radius: 0.5rem;
    padding: var(--p14);
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.form-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-bottom: var(--p14);
    border-bottom: 1px solid #b6b6b64f;
    margin-bottom: var(--p30);
}

.form-title>img {
    cursor: pointer;
}

.form-title>h2 {
    font-size: 1.25rem;
}

.form-title>p {
    font-size: 0.75rem;
    color: #979797;
}

.form-title-no-border {
    border-bottom: none;
    margin-bottom: 0;
}

.form-title-btns {
    display: flex;
    gap: 0.5rem;
}

.form-title-btns>* {
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.form-title-btns>*:hover {
    background: var(--orange);
}

.form-title-btns>*:active {
    transform: scale(0.9);
}

.close-btn>*:hover {
    background: none;
}

.form-body>.title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: var(--p30);
    margin-bottom: var(--p14);
    gap: 0.3125rem;
}

.form-body>.title>p:nth-child(1) {
    font-weight: 700;
}

.form-body>.title>p:nth-child(2),
.form-body>.title>p:nth-child(2),
.form-body>.title>span {
    display: flex;
    color: #646464;
    font-size: 0.75rem;
    font-weight: 400;
}

.form-body>.title>span>img {
    margin-left: 0.3rem;
}

.form-body>.input>textarea {
    min-height: 150px;
    resize: vertical;
}

.input>input,
.input>textarea {
    position: relative;
    background: #F9F9F9;
    /* margin-top: var(--p14); */
    padding: var(--p14);
    border: 1px solid rgba(0, 0, 0, 0.09);
    transition: 0.15s ease-in-out;
    outline: none;
    height: 2.5rem;
    border-radius: 0.5rem;
    width: 100%;
}

.create-server-type>.input,
.form-body>.input {
    direction: rtl;
}

.checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.checkbox-label {
    font-size: 0.75rem;
    font-weight: 600;
}

.checkbox-btn {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    border: 3px solid rgba(0, 0, 0, 0.09);
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

/* fonts  */
@font-face {
    font-family: V;
    src: url(../fonts/Vazir.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Vthin;
    src: url(../fonts/Vazir-Thin.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Vlight;
    src: url(../fonts/Vazir-Light.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Vmedium;
    src: url(../fonts/Vazir-Medium.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Vbold;
    src: url(../fonts/Vazir-Bold.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: nastaliq;
    src: url(../fonts/IranNastaliq.ttf);
    font-weight: normal;
    font-style: normal;
}

/* remove default */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

input,
textarea {
    font-family: Vbold;
}

/* this is new (for input border hover effect):  */
.border-hover>input,
.border-hover>textarea {
    border: 1px solid #00000017;
    transition: 0.15s ease-in-out;
    background: #F9F9F9;
    direction: rtl;
    border-radius: 0.5rem;
    padding: 0.875rem;
    outline: none;
    /* #116 - create-post.css  */
}

.border-hover>input:focus,
.border-hover>textarea:focus {
    outline: none;
    border: 2.2px solid var(--orange);
}

/* done  */
input[type=text]:hover,
textarea:hover {
    border: 1px solid #00000031;
}

input[type=text]:focus,
textarea:focus {
    border: 2px solid var(--orange);
}

.not-input:focus,
.not-input:hover {
    border: none !important;
}

a:active {
    color: black;
}

button {
    border: none;
    cursor: pointer;
}

body,
button {
    background: var(--light-gray-2);
    font-family: Vmedium;
}


/* side bars */

.side-bar {
    top: 48px;
    position: sticky;
    background: #FFFF;
    padding: var(--p14);
    border-radius: 0.5rem;
    box-shadow: 0px 8px 8px 3px rgba(0, 0, 0, 0.04);
}

.side-bar h3 {
    margin-bottom: var(--p14);
    color: var(--dark-gray);
}

.side-bar>section>p {
    color: var(--gray);
}

.side-bar>section {
    display: flex;
    flex-direction: column;
    direction: rtl;
}

.side-bar>section:not(:first-of-type) {
    margin-top: var(--p30);
}

/* user tags and post tags  */

.tag {
    display: inline;
    padding: 0.1rem var(--p14);
    font-size: 0.75rem;
    font-weight: 600;
    transition: 0.25s ease-in-out;
}

.tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.post-tag {
    border-radius: 20rem;
}

.user-tag {
    border-radius: 0.5rem;
}

/* search and server list  */
#server-search-bar,
#search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    height: 2.375rem;
    border-radius: 0.5rem;
    background: var(--light-gray-3);
    color: white !important;
    font-size: 1.125rem;
    padding: 0.5rem 0.8rem;
    transition: 0.25s ease-in-out;
    border: 1px solid #00000017;
}

#server-search-bar {
    background: var(--gray);
}

.search-wrapper,
.servers {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
}

#server-field,
#tag-field {
    display: none;
}

#arrow-icon {
    transition: 0.09s ease-in-out;
}

#selected-server {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding: 0.5rem 0;
}


#selected-server>p {
    font-size: 14px;
    font-family: Vmedium;
}

#search-input,
#selected-server-name {
    background: var(--gray);
    color: #ffff;
    border: none;
    margin-top: 0.2rem;
}

#search-input {
    background: var(--light-gray-3);
    width: 100%;
    color: var(--dark-gray);
}

#search-input:focus,
#selected-server-name:focus {
    outline: none;
}

#search-input:active {
    outline: none;
}

#delete-search,
#search-btn {
    height: 100%;
    background: none;
    transition: var(--normal);
}

#delete-search>img,
#search-btn>img {
    height: 100%;
}

#delete-search {
    display: none;
    opacity: 0;
}

#search-btn {
    display: flex;
    opacity: 1;
}


#selected-server-img {
    width: 24px;
    height: 24px;
    border-radius: 20rem;
    object-fit: cover;
}

#search-result-tab,
#servers-tab {
    position: absolute;
    left: 0;
    top: 38px;
    overflow: auto;
    display: none;
    width: 100%;
    height: 10.5rem;
    flex-direction: column;
    background: var(--gray);
    z-index: 1;
    border-radius: 0 0 0.5rem 0.5rem;
}

#no-result-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 0.5rem;
}

#no-result-tab>img {
    width: 35px;
}

#no-result-tab>p {
    font-size: var(--p14);
    color: var(--light-gray);
}


#search-result-tab::-webkit-scrollbar,
#servers-tab::-webkit-scrollbar {
    width: 5px;
}

#search-result-tab::-webkit-scrollbar-track,
#servers-tab::-webkit-scrollbar-track {
    border-radius: 0 0 0.5rem 0;
    background: #181818;
}

#search-result-tab::-webkit-scrollbar-thumb,
#servers-tab::-webkit-scrollbar-thumb {
    background: #6B6B6B;
    border-radius: 20rem;
}

.search-result,
.server {
    clear: both;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    width: 100%;
    height: 3.5rem;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.search-result:hover,
.server:hover {
    background: #272727;
}

.search-result>img,
.server>img {
    justify-content: flex-start;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 20rem;
    object-fit: cover;
}

.result-info,
.server>.server-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.result-info>p,
.server>.server-info>p {
    color: #ffff;
    font-size: 0.875rem;
}

.result-info>p:nth-child(2),
.server>.server-info>p:nth-child(2) {
    font-family: Vlight;
    font-size: 0.75rem;
    color: #D0D0D0;
}

/* ~~~post vote~~~  */
.vote-wrapper {

    width: 40px;
    border-radius: 20rem;
    display: flex;
    gap: 0.2rem;
    flex-direction: column;
    align-items: center;
    background: var(--light-gray-3);
}

.vote-btn {
    background: var(--light-gray-3);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20rem;
    width: 100%;
    height: 40px;
    transition: 0.25s ease-in-out;
}

.vote-counter {
    font-size: 12px;
}

.vote-btn:hover {
    /* background: var(--light-gray-2); */
    background: #eae9e9;
}