#moderator-control-bar {
  width: 15rem;
  background: var(--gray);
  height: calc(100vh - 5.88rem);
}

#moderator-control-bar>ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3rem 0;
  width: 100%;
  gap: 0.5rem;
}

#moderator-control-bar>ul>li {
  list-style: none;
}

#moderator-control-bar>ul>li>a,
#moderator-control-bar>ul>li>button,
#moderator-control-bar>ul>li>div,
#choose-server-wrapper>#server-list>a {
  margin: 0 0.5rem;
  justify-content: flex-end;
  width: calc(100% - 0.875rem);
  border-radius: 0.5rem;
  display: flex;
  color: #FFFF;
  list-style: var(--p14);
  gap: 0.5rem;
  padding: var(--p14);
  cursor: pointer;
  transition: 0.25s ease;
}

#choose-server-wrapper>#server-list>a {
  justify-content: flex-start;
}

#moderator-control-bar>ul>li>a:hover {
  background: var(--orange);
}

#server-list {
  display: none;
  height: 0;
  transition: 0.25s ease-in-out;
}

#server-list>* {
  background: #272727;
  border-radius: 0 !important;
}

#choose-server-wrapper>div {
  background: #2E2E2E;
  color: #FFFF;
  justify-content: flex-start !important;
}