.notification {
    position: sticky;
    z-index: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 22.375rem;
    height: 4.125rem;
    background: white;
    position: absolute;
    right: 1.875rem;
    bottom: 1.875rem;
    text-align: center;
    color: var(--orange);
    border-radius: var(--p8);
}

.notification>p {
    color: black;
    padding-right: var(--p8);
}

.notification-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 100%;
    background: var(--orange);
    border-radius: 0 var(--p8) var(--p8) 0;
}