{% extends 'base.html' %} {% load static %}
{% block navbar %}{% endblock navbar %}
{% block cssFiles %}
    <link rel="stylesheet" href="{% static 'accounts/css/register.css' %}">
{% endblock cssFiles %}
{% block content %}
    <a id='go-back-btn' href='{% url 'home:home' %}' id='go-back-btn'><img src="{% static 'accounts/svgs/go-back-btn.svg' %}" alt="home button"></a>
    <div class="form">
        <img id='reddit-logo' src="{% static 'accounts/svgs/reddit-logo.svg' %}" alt="reddit logo">
        <h1>!همین الان ردیتور شو</h1>
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {% comment %} <div class="form-field">
                <label for="username">نام کاربری</label>
                {{form.username}}
            </div>
            <div class="form-field">
                <label for="username">ایمیل</label>
                {{form.email}}
            </div>
            <div class="form-field">
                <label for="username">رمز عبور</label>
                {{form.password}}
            </div> {% endcomment %}
            {% comment %} {{form.as_p}} {% endcomment %}
            {% for field in form %}
                <div class='label'>{{ field.label_tag }} </div>
                {{ field }}
                {{ field.errors }}
            {% endfor %}
            <input id='submit' type="submit" value='ایجاد حساب'>
            <div class='go-to-btn'><a href="{% url 'accounts:login' %}">از قبل حساب کاربری داری؟ ایجارو کلیک کن</a></div>
        </form>
    </div>
{% endblock content %}