.tags-wrapper,
.flairs-wrapper {
  background: #FFFF;
  border-radius: 0.5rem;
  padding: var(--p14);
  direction: rtl;
  width: 49%;
  max-height: 23.8125rem;
}

#moderator-display {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  margin-top: 3rem;
}

#moderation-page-wrapper {
  display: flex;
}

.create-flair-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background: var(--gray);
  width: 31px;
  height: 31px;
}

#post-flairs-list {
  margin-top: var(--p30);
  display: flex;
}

.tag {
  width: auto;
  border-radius: 20rem;
  padding: 0.2rem 1.125rem;
  font-size: 1.125rem;
  font-weight: 700;
  cursor: pointer;
  margin-left: 0.5rem;
  transition: 0.25s ease-in-out;
}

.tag:hover {
  transform: scale(1.02);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.116);
}