.saved-post {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  background: #ffffff;
  height: 10.375rem;
  padding: var(--p14);
  margin-bottom: var(--p14);
  border-radius: var(--p8);
}

.saved-post-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--gray);
  height: 100%;
  width: 35%;
  border-radius: var(--p8);
}

.saved-post-img>img {
  border-radius: var(--p8);
  object-fit: cover;
}

#saved-post-img {
  width: 100%;
  height: 100%;
}

.saved-post-info {
  padding-right: var(--p8);
}

.post-info {
  width: 65%;
  display: flex;
  justify-content: space-between;
}

.post-info>form {
  display: flex;
  align-items: center;
}

.post-info>section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.info {
  text-align: start;
}

.post-info>section>.info>section:nth-child(2) {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.post-title,
.server-name {
  color: #000;
  font-size: 1rem;
}

.creator-name {
  color: #000;
  font-family: Vlight;
  margin-right: 0.75rem;
}