<!DOCTYPE html> {% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reddit | {% block title %}{% endblock title %}</title>
    <!--inc css-->
    <link rel="stylesheet" href="{% static 'inc/css/navbar.css' %}"/>
    <link rel="stylesheet" href="{% static 'inc/css/messages.css' %}">
    <!--post-->
    <link rel="stylesheet" href="{% static 'posts/inc/css/post.css' %}">
    <!--css files-->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}" />
    <link rel="stylesheet" href="https://unpkg.com/dropzone@5/dist/min/dropzone.min.css" type="text/css" />

    {% block cssFiles %}{% endblock cssFiles %}
  </head>
  <body>
    {% include 'inc/messages.html' %}
    {% block navbar %}
      {% include 'inc/navbar.html' %}
    {% endblock %}
    {% block content %}{% endblock content %}
    <!--jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!--js files-->
    {% block jsFiles %}{% endblock jsFiles %}
    <script src="https://unpkg.com/dropzone@5/dist/min/dropzone.min.js"></script>
  </body>
</html>
