.comment-section {
  direction: rtl;
  background: #ffff;
  border-radius: var(--p8);
  padding: var(--p14);
  margin-bottom: 2rem;
}

.comment-form-wrapper {
  width: 100%;
  position: relative;
}

.not-auth-form-pm {
  width: 100%;
  height: 50px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
}

.not-auth-form-pm>a {
  color: var(--orange);
  font-family: Vbold;
}

#comment-form {
  width: 100%;
  height: 13.75rem;
  border: none;
  background: var(--light-gray-3);
  border: 1px solid #00000017;
  border-radius: var(--p8);
  resize: none;
  padding: 0.875rem;
  transition: 0.25s ease-in-out;
}

#comment-form:hover {
  border: 1px solid #00000031;
}

#comment-form:focus {
  outline: none;
}

.reply-form {
  margin-top: 0.875rem;
  position: relative;
}

#comment-submit-btn,
.reply-submit-btn {
  position: absolute;
  bottom: 1.3rem;
  left: var(--p14);
  width: 7.125rem;
  height: 2.375rem;
  border-radius: var(--p8);
  background: var(--gray);
  color: #ffff;
  transition: 0.25s ease-in-out;
  cursor: pointer;
  border: none;
}

.reply-submit-btn:hover {
  background: var(--orange);
}

.comment:not(:first-of-type) {
  margin-top: 1rem;
  /* background: red; */
  /* border-right: 3px solid #EBEBEB; */
}

.comment-section>p {
  text-align: center;
  color: var(--light-gray);
}

.creator-info {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--p8);
}

.creator-img {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 20rem;
}

.creator-img>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20rem;
}

.created-creator {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.created-creator>section {
  display: flex;
  align-items: center;
  gap: var(--p8);
}

.created-creator>section>.user-tag {
  font-size: 10px !important;
  padding: 0.1rem var(--p8) !important;
}

.created-creator a {
  transition: 0.25s ease-in-out;
}

.created-creator a:hover {
  color: var(--orange);
}

.created-at {
  font-size: 0.75rem;
  color: var(--gray);
}

.comment-body {
  margin-right: 1.25rem;
  padding-right: 1.75rem;
  border-right: 3px solid var(--light-gray-2);
  padding-top: 0.875rem;
  font-size: 1rem;
  font-family: Vmedium;
}

.reply {
  margin-top: 0.875rem;
  margin-right: -1.5rem;
}

.comment-options {
  display: flex;
  gap: 2rem;
  margin-top: var(--p8);
  height: 32px;
  gap: var(--p8);
}

.comment-vote,
.reply-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: var(--p8);
  /* width: 5.375rem; */
  height: 2rem;
  border-radius: 2rem;
  padding: var(--p8) 1rem;
  background: var(--light-gray-3);
  color: #AAAAAA;
  transition: 0.25s ease-in-out;
}

.reply-btn:hover {
  background: var(--gray);
}

/* ~~~comment vote~~~  */
.comment-vote-wrapper {
  width: 120px;
  height: 100%;
  border-radius: 20rem;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  gap: 0.2rem;
  background: var(--light-gray-3);
}

.comment-vote-wrapper .vote-btn {
  background: var(--light-gray-3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20rem;
  width: 50px;
  height: 100% !important;
  transition: 0.25s ease-in-out;
}

.comment-vote-wrapper p[id^="vote-counter-"] {
  direction: ltr;
}

.comment-vote-wrapper .vote-btn:hover {
  /* background: var(--light-gray-2); */
  background: #eae9e9;
}