.post {
    width: 100%;
    background: rgb(255, 255, 255);
    height: 20.31rem;
    height: auto;
    border-radius: 0.5rem;
    margin-bottom: 2rem;
}

.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0.875rem;
    padding-bottom: 0;

}

.vote {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: var(--light-gray-3);
    width: 2.625rem;
    height: 6.0625rem;
    border-radius: 1.875rem;
}

.vote>p {
    font-size: 0.75rem;
    font-family: Vbold;
    font-weight: 700;

}

.server-info,
.post-info>section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.post-info,
.post-info>section:nth-child(1)>a:nth-child(1),
.post-info .tag {
    margin-right: 0.75rem !important;
}

.post-info>section>a {
    color: black;
}

.post-info>section:nth-child(1)>a:nth-child(1) {
    font-family: Vlight;
}

.post-title {
    font-size: 1.25rem;
    direction: rtl;
    transition: 0.25s;
}

.post-title:hover {
    color: var(--orange);
}

/* .post-tag {
    border-radius: 20rem;
    padding: 0.2rem 0.5rem;
    margin-right: 0.5rem;
} */

.post-body {
    width: 100%;
    padding: 2.625rem 0.875rem;
    direction: rtl;
    color: var(--grey);
    font-family: Vlight;
    text-align: center;
}

.post-body>video,
.post-body>img {
    width: auto;
    max-width: 100%;
    max-height: 500px;
    border-radius: 8px;
}

.post-body>video {
    width: 100%;
}

.post-body>p {
    padding: 0 5.5rem;
    text-align: start;
}

.creator-name {
    color: var(--light-gray);
    font-size: 0.875rem;
}

.server-name {
    font-size: 1rem;
}

.server-img {
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
}

.server-img>img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

/* footer  */
.post-footer {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4.5rem;
    border-radius: 0.5rem;
    border: 5px solid #ffff;
    background: var(--light-gray-3);
    padding: 0 0.875rem;
}

.post-items,
.post-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.post-options>a {
    display: flex;
    align-items: center;
    padding-right: 0.3rem;
}

/* .post-options>div {
    background: var(--orange);
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
}

.post-options>div>a {
    color: #ffff;
} */
/* .post-more-options-wrapper {
    background: red;
    display: flex;
    flex-direction: column;
} */
button[id^="post-more-options-btn-"] {
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20rem;
    background: none;
    transition: 0.25s ease-in-out;
}

.post-more-options-btn>img {
    display: flex;
}

div[id^="post-more-options-dropdown-"] {
    position: absolute;
    z-index: 1;
    top: 3.5rem;
    right: 1rem;
    width: 200px;
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    background: #FFFF;
    border-radius: 0.5rem;
    padding: 0.5rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.06));
}

.post-more-options {
    display: flex;
    justify-content: flex-end;
    gap: 0.5rem;
    border-radius: 0.3rem;
    padding: 0.5rem;
    transition: 0.25s ease-in-out;
    cursor: pointer;
    color: #000;
}

.post-more-options:hover,
button[id^="post-more-options-btn-"]:hover {
    background: #EAE9E9;
}

.post-items>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.3rem;
    padding-top: 0.1rem;
}

.post-items>div>p {
    padding-left: 0.2rem;
    padding-top: 0.2rem;
}

.post-items>img,
.post-items>div {
    cursor: pointer;
}


.post-items {
    height: 2.625rem;
    background: var(--light-gray-3);
    border-radius: 1.875rem;
}

[id^='save-post-btn'] {
    display: flex;
    background: none;
    /* height: 100%; */
}

.post-items>* {
    height: 100%;
    border-radius: 1.875rem;
    transition: 0.25s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}

.post-items>*:hover {
    background: #eae9e9;
}

.post-items>*:nth-child(1) {
    padding: 0.5rem 0.7rem;
    gap: 0.5rem;
    color: #000;
}

/* report tab  */
#report-reason-field {
    display: none;
}

.report-reasons-wrapper,
.report-reason {
    gap: 0.5rem;
    display: flex;
}

.report-reasons-wrapper {
    flex-wrap: wrap;
    justify-content: flex-end;
}

.report-reason {
    width: auto;
    font-size: 0.75rem;
    justify-content: center;
    padding: 0.3125rem 0.875rem;
    background: #F8F8F8;
    border: 1px solid #D0D0D0;
    border-radius: 20rem;
    cursor: pointer;
    transition: 0.25s ease-in-out;
}

.report-reason:hover {
    border: 1px solid var(--orange);
}

.s-server-img {
    width: 21px;
    height: 21px;
    object-fit: cover;
    border-radius: 20rem;
}

.s-server-img>img {
    width: 100%;
    height: 100%;
    border-radius: 20rem;
}