{% extends 'base.html' %} {% load static %}
{% block cssFiles %}
  <link rel="stylesheet" href="{% static 'servers/css/moderating-page.css' %}">
  <link rel="stylesheet" href="{% static 'servers/css/tags-flairs.css' %}">
{% endblock cssFiles %}

{% block content %}
<div id="moderation-page-wrapper">
  <section id="moderator-display">
      <div class="wrapper flairs-wrapper">
        <div id="create-server-title">
          <h2>لیست تگ ها</h2>
          <div class="create-btn">
            <img src="{% static 'servers/svgs/plus.svg' %}" alt="add flair">
          </div>
        </div>
        <section id='list'>
          {% for tag in server_tags  %}
            <div class="tag" style='background:{{tag.primary_color}}; border:3.5px solid {{tag.secondary_color}}; color:{{tag.secondary_color}}'>{{tag.name}}</div>
            <br>
          {% endfor %}
        </section>
      </div>
      <div class="wrapper tags-wrapper">
        <div id="create-server-title">
          <h2>لیست پسوند ها</h2>
          <img src="{% static 'servers/svgs/plus.svg' %}" alt="">
        </div>
      </div>
  </section>
  {% include 'servers/inc/moderator-control-bar.html' %}
</div>
{% endblock content %}
