{% extends 'base.html' %} {% load static %}
{% block title %}Home{% endblock title %}
{% block jsFiles %}
<script src="{% static 'home/js/home.js' %}"></script>
{% endblock jsFiles %}
  
  
<!---->
{% load static %}
{% block cssFiles %}
  <link rel="stylesheet" href="{% static 'posts/inc/css/post.css' %}">
{% endblock cssFiles %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="popular-posts col-8">
      {% for post in posts %}
        {% include 'posts/inc/post.html' %}
      {% endfor %}
    </div>
    <div id="popular-servers">
        {% comment %} {% for server in servers %}
            {{server.name}} <br>
        {% endfor %} {% endcomment %}
    </div>
  </div>
</div>

{% endblock content %}
