{% load static %}
<section id="moderator-control-bar">
  <ul>
    <li id='choose-server-wrapper'>
      <div id='choose-server-btn' onclick='openChooseServerList()'>
        {% if server.server_type == 'pub' %}
          <img src="{% static 'inc/svgs/create-server.svg' %}" alt="server icon">
        {% else %}
          <img src="{% static 'inc/svgs/private-server.svg' %}" alt="server icon">
        {% endif %}
        <p>r/{{server.tag}}</p>
      </div>
      <section id='server-list'></section>
    </li>
    <li>
      <a onclick="createServerTabFunc('gray-layer')">
        <p>ایجاد سرور جدید</p>
        <img src="{% static 'servers/svgs/add-server-2.svg' %}" alt="add server">
      </a>
    </li>
    <li>
      <a href="{% url 'servers:server-insights' server.tag %}">
        <p>وضعیت سرور</p>
        <img src="{% static 'servers/svgs/insights.svg' %}" alt="insights">
      </a>
    </li>
    <li>
      <a href="{% url 'servers:server-tags-and-flairs' server.tag %}">
        <p>تگ ها و پسوند ها</p>
        <img src="{% static 'servers/svgs/tag.svg' %}" alt="tags and flairs">
      </a>
    </li>
    <li>
      <a href="{% url 'servers:server-rules' server.tag %}">
        <p>قوانین و مقررات</p>
        <img src="{% static 'servers/svgs/rule.svg' %}" alt="rules">
      </a>
    </li>
    <li>
      <a href="{% url 'servers:server-moderator-settings' server.tag %}">
        <p>تنظیمات مدیریت</p>
        <img src="{% static 'servers/svgs/users.svg' %}" alt="moderator settings">
      </a>
    </li>
    <li>
      <a href="{% url 'servers:server-settings' server.tag %}">
        <p>تنظیمات سرور</p>
        <img src="{% static 'servers/svgs/settings.svg' %}" alt="server settings">
      </a>
    </li>
  </ul>
</section>
