{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reddit | {% block title %}{% endblock title %}</title>
    <!--inc css-->
    <link rel="stylesheet" href="{% static 'inc/css/navbar.css' %}"/>
    <link rel="stylesheet" href="{% static 'inc/css/messages.css' %}">
    <!--post-->
    <link rel="stylesheet" href="{% static 'posts/inc/css/post.css' %}">
    <!--css files-->
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />
    <link rel="stylesheet" href="{% static 'css/bootstrap-grid.min.css' %}" />

    {% block cssFiles %}{% endblock cssFiles %}
  </head>
  <body>
    <div class='form-popup' id='gray-layer'>
      <form action="{% url 'servers:server-create' %}" method="post" id='create-server-tab' novalidate>
        {% csrf_token %}
        <div class='form-title'>
          <img onclick="createServerTabFunc('gray-layer')" src="{% static 'svgs/x.svg' %}" alt="close tab">
          <h2>ایجاد سرور</h2>
        </div>
        <section class='form-body'>
          <div class="title">
            <p>نام سرور</p>
            <p>اسمی برای نمایش در پروفایل (این اسم نام کاربری را تغییر نمیدهد)</p>
          </div>
          <div class="input">
            {{create_server_form.tag}}
          </div>
        </section>
        <section class='form-body'>
          <div class="title">
            <p>وضعیت سرور</p>
            <p>وضعیت سرور در صفحه تنظیمات سرور قابل تغییر خواهد بود</p>
          </div>
          <div class="input">
            {{create_server_form.server_type}}
          </div>
        </section>
        <button id='form_popup_btn' type='submit'>ایجاد سرور</button>
      </form>
    </div>
    {% block form_popup %}
    {% endblock form_popup %}
    {% include 'inc/messages.html' %}
    {% block navbar %}
      {% include 'inc/navbar.html' %}
    {% endblock %}
    {% block content %}{% endblock content %}
    <!--jquery-->
      <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
      
      <script src="{% static 'js/base.js' %}"></script>
      <script src="{% static 'inc/js/navbar.js' %}"></script>
      <script src="{% static 'js/countdown.js' %}"></script>
      <script src="{% static 'user/js/profile.js' %}"></script>
      <script src="{% static 'servers/js/userLimitCountdown.js' %}"></script>
      <script src="{% static 'js/checkbox.js' %}"></script>
      <script src="{% static 'js/search.js' %}"></script>
      <script src="{% static 'posts/js/save-post.js' %}"></script>
      <script src="{% static 'posts/js/vote-post.js' %}"></script>
    <!--js files-->
    {% block jsFiles %}{% endblock jsFiles %}
    
  </body>
</html>
