{% load static %}

<div class='navbar'>
  <div class="container">
    <div class="navbar-wrapper">
      <div class="nav-btns">
        {% if request.user.is_authenticated %}
          <a href='{% url 'accounts:logout' %}' id='sing-in-btn'>خروج</a>
          <a href='{% url 'user:profile' request.user.username %}' id='profile-btn'><img src="{% static 'inc/svgs/user.svg' %}" alt="profile"></a>
        {% else %}
          <a href='{% url 'accounts:register' %}' id='sing-in-btn'>ثبت نام</a>
        {% endif %}
        {% if user.is_authenticated %}
          <a href='{% url 'posts:create-post' request.user.id %}' id='profile-btn'><img src="{% static 'inc/svgs/create-post-btn.svg' %}" alt="create post"></a>
          <button id='profile-btn'><img src="{% static 'inc/svgs/chat.svg' %}" alt="chat"></button>
          {% if is_moderator %}
            <a href='{% url "servers:server-insights" request.user.user_servers.all.0.tag %}' id='profile-btn'><img src="{% static 'inc/svgs/create-server.svg' %}" alt="create server"></a>
          {% else %}
            <button type="button" onclick="createServerTabFunc('gray-layer')" id='profile-btn'><img src="{% static 'inc/svgs/create-server.svg' %}" alt="server moderation"></button>
          {% endif %}
        {% endif %}
        <form style='width:384px' method="post" action="" class="search-wrapper">
          {% csrf_token %}
          <div id="search-bar">
            <input id='search-input' type="text" name='search-bar'>
            <button id="delete-search"><img src="{% static 'svgs/x.svg' %}" alt="delete search"></button>
            <button id="search-btn"><img src="{% static 'svgs/search.svg' %}" alt="search"></button>
            <div id='search-result-tab'>
            </div>
          </div>
        </form>
        
      </div>
      <a href='{% url 'home:home' %}' id="logo">
        <img src="{% static 'inc/images/site-logo.jpg' %}" alt="reddit">
      </a>
    </div>
  </div>
</div>
