{% extends 'base.html' %}{% load static %} 
{% block title %}create post page{% endblock title %} 
{% block cssFiles %}
  <link rel="stylesheet" href="{% static 'posts/css/create-post.css' %}"/>
{% endblock cssFiles %} 
{% block jsFiles %}
  <script src="{% static 'posts/js/create-post.js' %}" defer></script>
{% endblock jsFiles %} 
{% block content %} 
{% include 'user/inc/control-bar.html' %}

<div class="container">
  <div class="row">
    <div id="server-wrapper" class='server-details-wrapper col-4'>
      <div id="server-details">
      </div>
      <div id="server-rules">
        <h3>قوانین سرور</h3>
        <div id="rules-wrapper">  
        </div>
      </div>
    </div>
    <div class="create-post-form-wrapper col-8">
      <div class="form-wrapper">
        <form id="post-form" action="" method="post" enctype="multipart/form-data" novalidate>
          {% csrf_token %}
          <section class="form-header">
            <div class="servers">
              <div id="server-search-bar">
                <img
                  src="{% static 'posts/svgs/search.svg' %}"
                  alt="search icon"
                />
                <div id="selected-server">
                  <img
                    id="selected-server-img"
                    src="{{following.0.server.image.url}}"
                    alt="server image"
                  />
                  <input id='selected-server-name' type='textarea' value='r/{{following.0.server.tag}}'>
                </div>
                <img
                  id='arrow-icon'
                  src="{% static 'posts/svgs/arrow.svg' %}"
                  alt="arrow icon"
                />
              </div>
              <!--this is hidden -->
              {{form.server}}

              <div id="servers-tab">
                {% for i in following %} 
                  <div id='{{i.server.id}}' class='server'>
                    <img src="{{i.server.image.url}}" alt="server image">
                    <div class="server-info">
                      <p>r/{{i.server.tag}}</p>
                      <p>عضو {{i.server.count}}</p>
                    </div>
                  </div> 
                {% endfor %}
              </div>
            </div>
            <div class="form-types">
              <button type="button" onclick="postType(0)">
                <p>متن</p>
                <img src="{% static 'posts/svgs/file.svg' %}" alt="" />
              </button>
              <button type="button" onclick="postType(1)">
                <p>عکس</p>
                <img src="{% static 'posts/svgs/image.svg' %}" alt="" />
              </button>
              <button type="button" onclick="postType(2)">
                <p>فیلم</p>
                <img src="{% static 'posts/svgs/video.svg' %}" alt="" />
              </button>
              <button type="button" onclick="postType(2)">
                <p>لینک</p>
                <img src="{% static 'posts/svgs/link.svg' %}" alt="" />
              </button>
            </div>
          </section>
          <section class="form-body">
            {{ form.non_field_errors }}
            <div id="title-field">{{form.title}} {{ form.title.errors }}</div>
            <div class="field">{{form.text}} {{ form.text.errors }}</div>
            <div class="field">{{form.image}} {{ form.image.errors }}</div>
            <div class="field">{{form.video}} {{ form.video.errors }}</div>
          </section>
          <div class='form-footer-wrapper'>
            <section id="form-footer">
              {{form.tag}} {{ form.tag.errors }}
              <section id='server-tags'></section>
              <button id="submit" onclick="submitBtn()">ارسال</button>
            </section>
          </div>
        </form>
      </div>
    </div>
    
  </div>
</div>
{% endblock content %}
