{% extends 'base.html' %} {% block title %}post{% endblock title %} 
{% load static %} {% load humanize %} {% load mptt_tags %} 
{% block cssFiles %}
  <link rel="stylesheet" href="{% static 'posts/inc/css/post.css' %}" />
  <link rel="stylesheet" href="{% static 'posts/css/post-page.css' %}" />
  <link rel="stylesheet" href="{% static 'servers/css/server.css' %}" />
{% endblock cssFiles %} 
{% block jsFiles %}
  <script src="{% static 'posts/js/post-page.js' %}"></script>
  <script src="{% static 'home/js/home.js' %}"></script>
{% endblock jsFiles %}

{% block form_popup %}
  <div class='form-popup' id='create-rule'>
    <form action="" method="post" id='create-server-tab'>
      {% csrf_token %}
      <div class='form-title'>
        <div class="form-title-btns close-btn" onclick="createServerTabFunc('create-rule')">
          <img src="{% static 'svgs/x.svg' %}" alt="close tab">
        </div>
        <h2>نوع خطا را انتخاب نمایید</h2>
      </div>
      <section class='form-body'>
        <!--this is hidden-->
        {{report_form.reason}}

        <section class='report-reasons-wrapper'>
          <div class='report-reason' onclick='changeReasonInputValue("sr")'><div class='s-server-img'><img src="{{post.server.image.url}}" alt=""></div><p>r/{{post.server.tag}} نقض قوانین</p></div>
          <div class='report-reason' onclick='changeReasonInputValue("hr")'><p>آزار و اذیت</p></div>
          <div class='report-reason' onclick='changeReasonInputValue("c")'><p>حق کپی رایت</p></div>
          <div class='report-reason' onclick='changeReasonInputValue("sh")'><p>خود آزاری و خود کشی</p></div>
          <div class='report-reason' onclick='changeReasonInputValue("spi")'><p>اشتراک اطلاعات شخصی</p></div>
          <div class='report-reason' onclick='changeReasonInputValue("mi")'><p>اطلاعات غلط</p></div>
        </section>
      </section>
      <button id='form_popup_btn' type='submit'>گزارش خطا</button>
    </form>
  </div>
{% endblock form_popup %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="server-details-wrapper col-4" style='margin-top:3rem'>
      <div class="side-bar">
        <div class="server-details-header">
          <img
            class="server-header-img"
            src="{{post.server.header_image.url}}"
            alt="server header image"
          />
          <img
            class="server-img"
            src="{{post.server.image.url}}"
            alt="server header image"
          />
          <div class="server-tag">r/{{post.server.tag}}</div>
        </div>
          <section>
            <h3>درباره این سرور</h3>
            <p>{{post.server.about}}</p>
          </section>
          <div class="server-numbers-wrapper">
            <div class="server-numbers">
              <div class="followers">
                <p>{{post.server.followers.count}}</p>
                <p>دنبال کننده</p>
              </div>
              <div class="online_users">
                <p>0</p>
                <p>آنلاین</p>
              </div>
            </div>
            <div class="server-score">
              <h2>#۸۷</h2>
            </div>
          </div>
          <section>
            <h3>ساخته شده در تاریخ</h3>
            <p>{{post.server.created}}</p>
          </section>
      </div>
    </div>
    <div class="popular-posts col-8" style="margin-top: 3rem">
      {% include 'posts/inc/post.html' %}
      <div class="comment-section">
        {% if request.user.is_authenticated %}
        <div class="comment-form-wrapper">
          <form action="" method="post" novalidate>
            {% csrf_token %} {{form.body}}
            <button id="comment-submit-btn" type="submit">ارسال نظر</button>
          </form>
        </div>
        {% else %}
        <div class="comment-form-wrapper">
          <form style="pointer-events: none" action="" method="post" novalidate>
            {% csrf_token %} {{form.body}}
            <button id="comment-submit-btn" type="submit">ارسال نظر</button>
          </form>
          <div class="not-auth-form-pm">
            <p>برای ارسال پیام باید وارد حساب خود شوید</p>
            <a href="{% url 'accounts:login' %}">ورود</a>
          </div>
        </div>
        {% endif %} {% recursetree comments %}
        <div class="comment">
          <div class="creator-info">
            <div class="creator-img">
              <img src="{{node.creator.profile.image.url}}" alt="comment creator image">
            </div>
            <div class="created-creator">
              <section>
                <a
                href="{% url 'user:profile' node.creator.username %}"
                class="creator-name"
                >u/{{node.creator}}</a
                >
                {% if node.creator.user_tag.get %}
                  <div class="user-tag" style='background:{{node.creator.user_tag.get.primary_color}}; color:{{node.creator.user_tag.get.secondary_color}};border:3px solid {{node.creator.user_tag.get.secondary_color}}'>
                    <p>{{node.creator.user_tag.get.name}}</p>
                  </div>
                {% endif %}
                {% comment %} {{node.post.server.user_tags.all}} {% endcomment %}
              </section>
              <p class="created-at">{{node.created|naturaltime}}</p>
            </div>
          </div>
          <div class="comment-body">
            <p>{{node.body}}</p>
            <div class="comment-options">
              
              {% comment %} <div class="comment-vote">
                <img
                  src="{% static 'posts/svgs/comment-up-vote.svg' %}"
                  alt="comment up vote"
                />
                <p class="vote-counter">{{post.vote_count}}</p>
                <img
                  src="{% static 'posts/svgs/comment-down-vote.svg' %}"
                  alt="comment down vote"
                />
              </div> {% endcomment %}
              <form action="{% url 'posts:vote-post' %}" method="post" class='vote-comment-form' id='{{node.id}}'>
              {% csrf_token %}
              <div class="vote-wrapper">
                {% if request.user in node.upvotes.all %}
                  <button class='vote-btn' type="submit" name='upvote'>
                    <img
                      src="{% static 'svgs/up-voted.svg' %}"
                      alt="upvote"
                    />
                  </button>
                  <p id="vote-counter-{{node.id}}">{{node.votes_count}}</p>
                  <button class='vote-btn' type="submit" name='downvote'>
                    <img
                      style='transform:rotate(180deg)'
                      src="{% static 'svgs/vote.svg' %}"
                      alt="downvote"
                    />
                  </button>
                {% elif request.user in node.downvotes.all %}
                  <button class='vote-btn' type="submit" name='upvote'>
                    <img
                      src="{% static 'svgs/vote.svg' %}"
                      alt="upvote"
                    />
                  </button>
                  <p id="vote-counter-{{node.id}}">{{node.votes_count}}</p>
                  <button class='vote-btn' type="submit" name='downvote'>
                    <img
                      style='transform:rotate(180deg)'
                      src="{% static 'svgs/down-voted.svg' %}"
                      alt="downvote"
                    />
                  </button>
                {% else %}
                  <button class='vote-btn' type="submit" name='upvote'>
                    <img
                      src="{% static 'svgs/vote.svg' %}"
                      alt="upvote"
                    />
                  </button>
                  <p id="vote-counter-{{node.id}}">{{node.votes_count}}</p>
                  <button class='vote-btn' type="submit" name='downvote'>
                    <img
                      style='transform:rotate(180deg)'
                      src="{% static 'svgs/vote.svg' %}"
                      alt="downvote"
                    />
                  </button>
                {% endif %}
              </div>
            </form>
              <button class="reply-btn" onclick="openReplyForm({{node.id}})">
                <p>پاسخ</p>
                <img src="{% static 'posts/svgs/reply.svg' %}" alt="" />
              </button>
            </div>
            <form
              action="{% url 'posts:comment-reply' post.id node.id %}"
              method="post"
              id="reply-to-{{node.id}}"
              class="reply-form"
            >
              {% csrf_token %} {{form.body}}
              <input class="reply-submit-btn" type="submit" value="ارسال نظر" />
            </form>
            {% if not node.is_leaf_node %}
            <div class="reply">{{children}}</div>
            {% endif %}
          </div>
        </div>
        {% endrecursetree %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}
