.navbar {
  margin-bottom: 0rem;
}

#moderation-page-wrapper {
  display: flex;
}

#moderating-page-wrapper {
  display: flex;
}

#moderator-display-wrapper {
  position: relative;
  width: 100%;
  height: 87vh;
  overflow-y: scroll;
  padding: 1rem;
  padding-top: 3rem;
}

#moderator-display-wrapper::-webkit-scrollbar {
  width: 5px;
}

#moderator-display-wrapper::-webkit-scrollbar-track {
  border-radius: 0 0 0.5rem 0;
  background: #181818;
}

#moderator-display-wrapper::-webkit-scrollbar-thumb {
  background: #6B6B6B;
  border-radius: 20rem;
}

#moderator-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  min-height: 100%;
}

#server-tab {
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  background: #FFFF;
  border-radius: 0.5rem;
  padding: var(--p14);
  direction: rtl;
  margin-bottom: 0.875rem;
}

.l-wrapper {
  width: 100%;
  height: auto;
  /* margin-bottom: 3rem; */
}

.square-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  background: var(--gray);
  width: 31px;
  height: 31px;
}

#server-chart {
  width: 80%;

}

/* lists and list items */
#list {
  display: flex;
  gap: var(--p14);
  flex-direction: column;
}

.list-item-title-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFF;
  background: var(--gray);
  padding: var(--p14);
  border-radius: 0.5rem;
}

.list-item-title {
  justify-content: flex-start;
}

.list-item-title>a {
  display: flex;
}

.list-item-body {
  font-weight: 400;
  background: var(--light-gray-3);
  color: var(--gray);
  font-size: var(--p14);
  padding: var(--p14);
  padding-top: 1.1875rem;
  margin-top: -0.5rem;
  border-radius: 0.5rem;
  border: 2px solid #3b3b3b1a;
  display: none;
  transition: 0.25s ease-in-out;
}

.list-item-title,
.list-item-title-wrapper {
  display: flex;
  align-items: center;
}

.list-item-title>p {
  margin-right: var(--p14);
}

.list-item-options {
  display: flex;
  align-items: center;
  gap: var(--p14);
}

.list-item-options>button,
.list-item-options>a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background: none;
}