.checkbox-wrapper {
  margin-top: var(--p14);
  display: flex;
  justify-content: flex-end;
  gap: var(--p30);
}

#moderator-permission-list {
  margin-top: -30px;
  display: flex;
  flex-grow: 1;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 10rem;
}

.checkbox-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.checkbox-btn>img {
  position: absolute;
  width: 12px;
  height: 12px;
  filter: invert(99%) sepia(1%) saturate(13%) hue-rotate(126deg) brightness(103%) contrast(100%);
}

#s-submit-btn {
  height: 31px;
  width: 100px;
  align-self: flex-end;
  border: none;
  background: #F8F8F8;
  color: #AAAAAA;
  border-radius: var(--p8);
  font-family: Vmedium;
  pointer-events: none;
  transition: 0.25s ease-in-out;
}