.rules-wrapper {
  width: 100%;
  height: auto;
  margin-bottom: 3rem;
}

#list {
  flex-direction: column;
}

.rule {
  margin-bottom: var(--p14);
}

.rule-title-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFFF;
  background: var(--gray);
  padding: var(--p14);
  border-radius: 5px;
}

.rule-body {
  font-weight: 400;
  background: var(--light-gray-3);
  color: var(--gray);
  font-size: var(--p14);
  padding: var(--p14);
  padding-top: 1.1875rem;
  margin-top: -0.5rem;
  border-radius: 0.5rem;
  border: 2px solid #3b3b3b1a;
  display: none;
  transition: 0.25s ease-in-out;
}

.rule-title,
.rule-title-wrapper {
  display: flex;
  align-items: center;
}

.rule-title>p {
  margin-right: var(--p14);
}

.rule-options {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.rule-options>button,
.rule-options>a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  background: none;
}

#yes-no-btn {
  display: flex;
  gap: var(--p14);
}

#yes-no-btn>* {
  display: flex;
  justify-content: center;
  align-items: center;
}

#yes-no-btn>*:first-child {
  background: var(--gray);
}