.navbar {
  margin-bottom: 0;
}

.server-header {
  width: 100%;
  height: 18.75rem;
}

.server-header>img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.server-header-bar {
  position: relative;
  background: #1E1E20;
  height: 8.625rem;
  margin-bottom: 3rem;
}

.server-specifications {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  position: relative;
  height: 100%;
}

.server-specifications>.server-name {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 0.5rem;
  right: 10rem;
}

.server-specifications>.server-name>div {
  display: flex;
  justify-content: flex-end;
  gap: 0.625rem;
}

.server-specifications>.server-name>div>h2 {
  font-size: 1.5625rem;
  color: #ffff;
}

.server-specifications>.server-name>p {
  font-size: 1.125rem;
  color: #B6B6B6;
}

.join-server-btn {
  background: var(--orange);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50rem;
  padding: 0.09375rem 1rem;
  gap: 0.3rem;
}

.join-server-btn>a,
.join-server-btn>div {
  color: #ffff;
}

.join-server-btn>img {
  width: 20px;
  height: 20px;
}

.server-specifications>.server-main-img {
  position: absolute;
  top: -4rem;
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50rem;
}

.server-specifications>.server-main-img>img {
  border-radius: 50rem;
  width: 100%;
  height: 100%;
}

/* server details  */
.server-details {
  position: sticky;
  top: 48px;
  direction: rtl;
  display: flex;
  flex-direction: column;
  gap: var(--p30);
  border-radius: 0.5rem;
  height: auto;
}

.server-details-header {
  position: relative;
  border-radius: 0.5rem;
}

.server-header-img {
  border-radius: 0.5rem;
  width: 100%;
  height: 5.75rem;
  margin-top: -0.2rem;
  transform: scale(1.03);
  object-fit: cover;
}

.server-details-header>.server-img {
  position: absolute;
  left: var(--p14);
  bottom: 0;
  border: 4px solid white;
  object-fit: cover;
}

.server-tag {
  padding-left: 6.5rem;
  font-family: Vbold;
  font-size: 1rem;
}

/* .server-details-info {
  padding: 0.875rem;
} */

.server-details-info>.server-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.server-details-info>.server-info:not(:last-of-type) {
  margin-bottom: var(--p30);
}

.server-details-info>.server-info>h3 {
  color: #1E1E20;
}

.server-details-info>.server-info>p,
.server-details-info>.server-info>div {
  font-size: var(--p14);
  margin-top: 0.5rem;
  color: #7C7C7C;
}

.user-tag {
  border-radius: 0.5rem;
  padding: 0.1875rem var(--p14);
  font-size: 0.75rem !important;
}

#server-user-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  font-weight: 500;
}

.user-tag>P {
  margin-top: 0.05rem;
}

.server-details-info>span {
  display: flex;
  gap: 0.3rem;
}

.server-numbers-wrapper {
  direction: rtl;
  margin-top: var(--p30);
}

.server-numbers-wrapper,
.server-numbers {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4.25rem;
  background: #1E1E20;
  color: #ffff;
  border-radius: 0.5rem;
  font-weight: Vbold;
  padding: 0.875rem;
}

.server-numbers {
  padding: 0;
  gap: 3rem;
}

.server-numbers p {
  font-size: 1.125rem;
  font-weight: Vbold;
}

.server-score {
  color: var(--orange);
  padding-top: 0.4rem;
}

/* filters  */
#filters-bar {
  height: 4.625rem;
  width: 100%;
  background: #ffff;
  border-radius: 0.5rem;
  padding: 0.875rem;
  margin-bottom: 1rem;
}

#filters-bar,
.post-filters,
.show-options,
.post-filters>a,
.show-options {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-filters {
  gap: 0.5rem;
}

.post-filters>a,
.show-options {
  height: 2.375rem;
  border-radius: 0.5rem;
  background: #3B3B3B;
  color: white;
  font-size: 1.125rem;
  padding: 0.4375rem 1.5625rem;
  transition: 0.25s ease-in-out;
  font-size: 1rem;
}

.post-filters>a:hover {
  background: var(--orange);
}