.tags-wrapper,
.flairs-wrapper {
  width: 49%;
  max-height: 23.8125rem;
}

#list {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.tag {
  width: auto;
  border-radius: 20rem;
  padding: 0.2rem 1.125rem;
  font-size: var(--p14);
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s ease-in-out;
}

.tag:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.116);
}

.post-tag {
  margin-right: 0 !important;
}

.user-tag {
  border-radius: 0.5rem;
}

/* form popup  */
.tag-color-options {
  display: flex;
  gap: 0.5rem;
}

.tag-color-option {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 20rem;
  transition: 0.25s ease-in-out;
  cursor: pointer;
}

.tag-color-option:hover {
  transform: scale(1.08);
}

.tag-color-option:last-of-type {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tag-color-option:last-of-type>img {
  width: 100%;
  height: 100%;
}

.live-tag-overview {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: var(--p30) 0 0;
  transition: 0.25s ease-in;
}

.live-tag-overview:last-of-type {
  border-radius: 0.5rem;
}