{% extends 'base.html' %} {% load static %}
{% block title %} r/{{user.username}} profile {% endblock title %}
{% block cssFiles %}
  <link rel="stylesheet" href="{% static 'user/css/profile.css' %}">
{% endblock cssFiles %}

{% block content %}
{% include 'user/inc/control-bar.html' %}
<div class="container">
  <div class="row">
    <div class="popular-posts col-8">
        {% for post in posts  %}
            {% include 'posts/inc/post.html' %}
        {% endfor %}
    </div>
    <div class="user-info col-4">
        <img src="" alt="">
    </div>
  </div>
</div>
{% endblock content %}